/* ---------- specification ---------- */
@import 'normalize.css';

html {
    font-size: 10px;
}
@font-face{
    src: url('../fonts/FuturaBold.ttf');
    font-family: 'FuturaBold';
}
@font-face{
    src: url('../fonts/FuturaLight.ttf');
    font-family: 'FuturaLight';
}
@font-face{
    src: url('../fonts/FuturaMedium.ttf');
    font-family: 'FuturaMedium';
}

.container{
    padding-top: 50px;
}
.choose{
    margin-top: 100px;
    height: 622px;
    background-image: linear-gradient(180deg, #274b62 0%, #57a6c8 100%);
    &__title{
        font-family: 'FuturaBold';
        font-size: 2.4rem;
        letter-spacing: 0.2px;
        color: #fafafa;
        margin-bottom: 40px;
    }
    &__leftText{
        margin-top: 13px;
        font-size: 1.8rem;
        color: #fafafa;
        font-family: 'FuturaLight';
        & .btn{
            font-family: 'FuturaBold';
        }
    }
    &__rightText{
        font-size: 1.8rem;
        color: #fafafa;
        margin-top: 90px;
        font-family: 'FuturaLight';
        & .btn{
            font-family: 'FuturaBold';
        }
    }
}
.verticalLine{
    margin: 10px 0 10px 145px;
    background-color: #ebebeb;
    width: 0;
    height: 130px;
    border: 1px solid #ebebeb;
}
.explore{
    width: 141px;
    height: 40px;
    font-size: 1.8rem;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 75px;
    &:hover{
        color: #ffffff;
    }
}
.rocket{
    width: 247px;
    height: 449px;
}
.discover{
    margin-bottom: 30px;
    margin-right: 130px;
    border: #95d0ea;
    background-color: #95d0ea;
    width: 141px;
    height: 40px;
    border-radius: 4px;
    color: #323232;
    font-size: 1.8rem;
    &:hover{
        background-color: #76A8C1;
        border: #76A8C1;
    }
}